.marquee-container {
  width: 100%;
  overflow: hidden;
  background-color: #706f6f;
  padding: 10px 0;
}
.marquee {
  display: flex;
  animation: marquee 15s linear infinite;
}
.marquee img {
  margin: 0 15px;
  height: 100px;
}
@keyframes marquee {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
@media (max-width: 600px) {
  .marquee img {
    height: 50px;
  }
  .marquee {
    animation: marquee 10s linear infinite;
  }
}
