.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marquee-container {
  width: 95%;
  border-radius: 30px;
  overflow: hidden;
  background-color: #1a2130;
  padding: 15px;
  margin: 20px;
  color: white;
}

.marquee {
  display: flex;
  animation: marquee 15s linear infinite;
}

.marquee h3 {
  margin: 0 15px;
  white-space: nowrap;
}

@keyframes marquee {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

@media (max-width: 600px) {
  .marquee {
    animation: marquee 10s linear infinite;
  }

  .marquee-container {
    width: 90%;
    margin: 5px;
  }

  .marquee h3 {
    font-size: 16px;
    margin: 0 5px;
  }
}